<div
  class="card bg-base-100 shadow-sm mx-2 sm:mx-0 animate-fadeIn transition-transform hover:scale-[1.02] hover:shadow-lg h-full
"
  [routerLink]="['/product', product().slug]"
>
  <figure>
    <img
      [src]="product().images | productImage "
      [alt]="product().title"
    />
  </figure>
  <div class="card-body pt-4">
    <h2 class="card-title font-montserrat text-primary">
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 100 }}...</p>
    <div class="card-actions justify-end mt-4">
      @for (tag of product().tags; track tag) {
      <div class="badge badge-outline">{{ tag }}</div>
      }

      <div
        class="badge"
        [ngClass]="{
          'badge-neutral': product().gender === 'unisex',
          'badge-primary': product().gender === 'men',
          'badge-accent': product().gender === 'women',
          'badge-warning': product().gender === 'kid'
        }"
      >
        {{ product().gender }}
      </div>
    </div>
  </div>
</div>
