<form
  class="flex flex-col gap-2"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <label class="input validator">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </g>
    </svg>
    <input
      type="email"
      placeholder="mail@site.com"
      required
      formControlName="email"
    />
  </label>

  <label class="input validator">
    <svg
      class="h-[1em] opacity-50"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <path
          d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
        ></path>
        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
      </g>
    </svg>
    <input
      #passwordInput
      [type]="showPassword() ? 'text' : 'password'"
      required
      placeholder="Password"
      minlength="8"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      title="Must be more than 6 characters, including number, lowercase letter, uppercase letter"
      formControlName="password"
    />
    @if (showPassword()) {
    <svg
      (click)="showPassword.set(false)"
      class="cursor-pointer"
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 32 32"
    >
      <path
        fill="currentColor"
        d="m20.523 21.937l7.77 7.77a1 1 0 0 0 1.414-1.414l-26-26a1 1 0 1 0-1.414 1.414l5.156 5.157c-4.116 3.28-5.37 8.242-5.438 8.515l-.003.011a.503.503 0 0 0 .98.22c.068-.29 1.204-5.015 5.146-8.061l3.927 3.926A6 6 0 0 0 9.998 18c0 3.31 2.69 6 6 6c1.804 0 3.425-.8 4.525-2.063m-.708-.708A4.99 4.99 0 0 1 15.998 23c-2.76 0-5-2.24-5-5c0-1.53.688-2.9 1.77-3.816zm-4.262-9.213l1.016 1.016a5.005 5.005 0 0 1 4.397 4.397l1.016 1.016q.016-.22.016-.445a6.005 6.005 0 0 0-6.445-5.984m-4.99-4.99l.76.761C12.669 7.295 14.218 7 15.999 7c10.46 0 12.91 10.18 13.01 10.61c.06.23.26.39.49.39q.021 0 .047-.005q.03-.004.063-.005c.27-.06.44-.33.38-.6v-.004C29.92 17.116 27.19 6 15.997 6c-2.096 0-3.895.39-5.436 1.026"
      />
    </svg>
    }
    <!--  -->
    @else {
    <svg
      (click)="showPassword.set(true)"
      class="cursor-pointer"
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 32 32"
    >
      <path
        fill="currentColor"
        d="M15.998 24c-3.31 0-6-2.69-6-6s2.69-6 6-6s6 2.69 6 6s-2.69 6-6 6m0-11c-2.76 0-5 2.24-5 5s2.24 5 5 5s5-2.24 5-5s-2.24-5-5-5m13.5 5a.51.51 0 0 1-.49-.39c-.1-.43-2.55-10.61-13.01-10.61S3.088 17.18 2.988 17.61a.503.503 0 0 1-.98-.22C2.038 17.28 4.728 6 15.998 6s13.96 11.27 13.99 11.39c.06.27-.11.54-.38.6c-.04 0-.08.01-.11.01"
      />
    </svg>
    }
  </label>
  <!-- <p class="validator-hint hidden">
  Must be more than 8 characters, including
  <br />At least one number <br />At least one lowercase letter <br />At least one uppercase letter
  </p> -->

  <button type="submit" class="btn btn-secondary">Login</button>

  @if (hasError()) {

  <div role="alert" class="alert alert-error fixed top-5 right-5 max-w-96" [ngClass]="fadeState()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 shrink-0 stroke-current"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <span>Por favor revise la información ingresada</span>
  </div>

  }

  <p class="text-slate-700">
    ¿No tienes cuenta?
    <a [routerLink]="['/auth/register']" class="text-secondary"
      >Crea una aquí</a
    >
  </p>
</form>
